<% @page_title = "Vector Maps" %>

<%= render 'layouts/partials/page-title', page_title: "Vector Maps", sub_title: "Maps" %>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">World Vector Map</h4>
        <div id="world-map-markers" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col-->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Markers Line Vector Map</h4>
        <div id="world-map-markers-line" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col-->

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">India Vector Map</h4>
        <div id="india-vector-map" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- card end -->
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Canada Vector Map</h4>

        <div id="canada-vector-map" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- card end -->
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Russia Vector Map</h4>

        <div id="russia-vector-map" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- card end -->
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">US Vector Map</h4>
        <div id="usa-vector-map" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- card end -->
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Iraq Vector Map</h4>

        <div id="iraq-vector-map" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- card end -->
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Spain Vector Map</h4>
        <div id="spain-vector-map" style="height: 360px"></div>
      </div> <!-- end card-body-->
    </div> <!-- card end -->
  </div>
</div>
<!-- end row -->

<% content_for :javascript do %>
  <%= javascript_include_tag 'maps/in-mill-en.js' %>
  <%= javascript_include_tag 'maps/canada.js' %>
  <%= javascript_include_tag 'maps/iraq.js' %>
  <%= javascript_include_tag 'maps/russia.js' %>
  <%= javascript_include_tag 'maps/spain.js' %>
  <%= javascript_include_tag 'maps/us-aea-en.js' %>
  <%= javascript_include_tag 'maps/us-lcc-en.js' %>
  <%= javascript_include_tag 'maps/us-mill-en.js' %>

  <%= javascript_include_tag 'pages/demo.vector-maps.js', defer: true %>
<% end %>
