<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0 font-12">
                    <li class="breadcrumb-item"><%= link_to "Consilium", root_path %></li>
                    <li class="breadcrumb-item"><%= link_to "Clientes", clients_path %></li> 
                    <li class="breadcrumb-item"><%= link_to @client.company_name, client_path(@client) %></li>                  
                    <li class="breadcrumb-item active">Nuevo Proyecto</li>
                </ol>
            </div>
            <h4 class="page-title">Apertura de Proyecto</h4>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card shadow-lg border-0">
            <div class="card-body p-4">
                <div class="d-flex align-items-center mb-4">
                    <div class="avatar-sm bg-soft-success rounded p-1 me-2">
                        <i class="ri-add-circle-line font-24 text-success"></i>
                    </div>
                    <div>
                        <h4 class="header-title mb-0">Registrar Nueva Consultoría</h4>
                        <p class="text-muted font-13 mb-0">Configura los parámetros iniciales para <strong><%= @client.company_name %></strong></p>
                    </div>
                </div>

                <%= render "form" %>

            </div>
        </div>
    </div>
</div>