<!DOCTYPE html>
<html <%= @html_attributes || "" %> data-turbo="false">

<head>
  <%= render 'layouts/partials/title-meta', title: @page_title %>
  <%= render 'layouts/partials/head-css' %>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <%# Importmaps para Turbo y Stimulus %>
  <%= javascript_importmap_tags %>

  <%# Scripts de la plantilla (Sprockets) %>
  <%= render 'layouts/partials/footer-scripts' %>

  <%= tag :meta, name: "current-user-id", content: current_user&.id %>


  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Consilium">
  <link rel="apple-touch-icon" href="/icon-192x192.png">

  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#0d2e66">
  

</head>

<body <%= @body_attributes || "" %>>

<div class="wrapper">

  <%= render 'layouts/partials/topbar' %>
  <%= render 'layouts/partials/left-sidebar' %>

  <div class="content-page">
    <div class="content">
      <div class="container-fluid">

        <%= turbo_frame_tag "main_content" do %>
          <%= yield %>
        <% end %>

      </div>
    </div>

    <%= render 'layouts/partials/footer' %>

  </div>
</div>

<%= render 'layouts/partials/right-sidebar' %>



  <script>
    // Inicializador global de Tooltips de Bootstrap compatible con Turbo
    document.addEventListener("turbo:load", function() {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        // Configuramos para que el tooltip se muestre rápido y se cierre al hacer clic
        return new bootstrap.Tooltip(tooltipTriggerEl, {
          trigger: 'hover focus'
        })
      });
    });

    // Opcional pero recomendado: Destruir tooltips antes de que Turbo renderice 
    // para evitar que se queden "pegados" en la pantalla al cambiar de página
    document.addEventListener("turbo:before-render", function() {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach(function (tooltipTriggerEl) {
        var tooltip = bootstrap.Tooltip.getInstance(tooltipTriggerEl);
        if (tooltip) {
          tooltip.hide();
        }
      });
    });
  </script>

</body>

</html>