<!DOCTYPE html>
<html <%= @html_attributes || "" %>>

<head>
  <%= render 'layouts/partials/title-meta', title: @page_title %>
  <%= render 'layouts/partials/head-css' %>
</head>

<body <%= @body_attributes || "" %>>

<%= yield %>

<%= render 'layouts/partials/footer-scripts' %>

</body>

</html>