<!DOCTYPE html>
<html <%= @html_attributes || "" %> data-layout="topnav">

<head>
  <%= render 'layouts/partials/title-meta', title: @page_title %>
  <%= render 'layouts/partials/head-css' %>
</head>

<body <%= @body_attributes || "" %>>

<div class="wrapper">

  <%= render 'layouts/partials/topbar' %>
  <%= render 'layouts/partials/horizontal-nav' %>

  <div class="content-page">
    <div class="content">
      <div class="container-fluid">

        <%= yield %>

      </div>
    </div>

    <%= render 'layouts/partials/footer' %>

  </div>
</div>

<%= render 'layouts/partials/right-sidebar' %>

<%= render 'layouts/partials/footer-scripts' %>

</body>

</html>